
h1.display-4{
    color: white;
    padding: 10px;
    
}
p.lead{
    color: white;
    padding: 10px;
}
.jumbotron {
    background-image: url("ocean1.jpg");
    background-attachment: fixed;
    background-size: cover;
}

img.jumbo {
    width: 50%;

}